.box {
    border: 1px;;
    border-color:blue;
    border-style: solid;
  }
  
  .item {
    /* width: 100px; */
    /* height: 50px; */
    background-color: #FFDE49;
    margin: 10px;
    text-align: center;
  }
  